.about {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  margin-top: 40px;
}

.about-page {
  /* background: linear-gradient(to top, #000020, rgba(0, 0, 0, 0.94)); */
  color: #fff;
}

.about_me {
  width: 40%;
}

.about_me h2 {
  color: #fff;
  width: 350px;
}

.about_me hr {
  color: #fff;
  background-color: #fff;
  width: 350px;
  margin: 0;
}

.about-para-one {
  width: 95%;
  margin-top: 40px;
  color: rgba(58, 227, 172, 0.83);
  font-size: 17px;
}

.title {
  color: #fff;
  font-size: 24px;
}

.about-me2 {
  width: 40%;
}

.about-me2 p {
  color: rgba(58, 227, 172, 0.83);
}

.about-me2 ul {
  list-style-type: none;
  margin: 0;
  color: #fff;
  padding: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.cv {
  display: flex;
  align-items: center;
  padding: 20px 0;
  text-decoration: none;
}

.cv_button {
  width: 165px;
  height: 40px;
  background-color: #24516c;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  text-decoration: none;
}
@media all and (max-width: 768px) {
  .about{
    display: flex;
    flex-direction: column;
  }
  .about-me{
    gap: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .my-description {
    display: flex;
    width: 75%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    animation: fadeIn 1s ease-in-out;
    gap: 22px;
  }
  .my-image{
    display: none;
  }
  .about_me{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me2 {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 14px;
  }
   .lang-container {
    padding: 15px;
    margin: 0px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
  }
  
  .language-button {
    flex: 0 0 50%; /* Each button takes up 50% of the container width */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    max-width: 50%; /* Maximum width is 50% of container width */
    padding: 8px; /* Adjust padding as needed */
    margin: 4px; /* Add some margin between buttons */
  }
  
}