.contact {
  padding-bottom: 110px;
}
.contact-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-me h1{
    font-size: 35px;
    margin: 0;
}
.contact-me p{
    width: 50%;
    text-align: center;
    margin: 40px 0;
    font-size: 20px;
}
.contact-me form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.contact-me input{
    width: 50%;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 8px;
    font-size: 16px;
}
.contact-me textarea{
    width: 50%;
    height: 90px;
    border-radius: 6px;
    border: none;
    padding: 8px;
    font-size: 16px;
}
.contact-me button{
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 22px;
  background-color: #24516c;
  color: #fff;
}