/* .contact {
  background: linear-gradient(to bottom, #000020, rgba(0, 0, 0, 0.94));
  color: #fff;
} */

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.contact-me h1 {
  font-size: 35px;
  margin-bottom: 0;

  /* margin-top: 50px ; */
}

.contact-me p {
  width: 50%;
  text-align: center;
  margin: 40px 0;
  font-size: 20px;
}

.contact-me form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 75px;
}

.contact-me input {
  width: 50%;
  height: 28px;
  border-radius: 6px;
  border: none;
  padding: 8px;
  font-size: 14px;
}

.contact-me textarea {
  width: 50%;
  height: 75px;
  border-radius: 6px;
  border: none;
  padding: 8px;
  font-size: 16px;
}

.contact-me button {
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 22px;
  background-color: #24516c;
  color: #fff;
  transition: background-color 0.3s; /* Add a smooth transition for the background color change */
}

.contact-me button:hover {
  background-color: #1c3b4f; /* Change the background color on hover to #1c3b4f (or any other desired color) */
}

.contact-me button:active {
  background-color: #0d222f; /* Change the background color when the button is clicked */
}

@media all and (max-width: 768px) {
  .contact-me p {
    width: 95%;
    font-size: 20px;
  }

  .contact-me input {
    width: 85%;
  }

  .contact-me textarea {
    width: 85%;
  }

  .contact-me form {
    gap: 13px;
    margin: 0;
  }

  .contact-me h1 {
    padding-top: 100px;
  }
}
