#services {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 40px 0;
  justify-content: center;
  margin-bottom: 100px;
}

.service img {
  width: 80px;
}

.service-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-bottom: 60px;
}

.service {
  border: 4px solid rgba(58, 227, 172, 0.83);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 28%;
  text-align: center;
}

@media all and (max-width: 768px) {
  #services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin: 0;
  }

  .service {
    width: 75%;
    height: 29vh;
  }

  .service img {
    width: 60px;
  }

  .service h3 {
    margin: 1px;
  }
}
